* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

.clearfix {
    zoom: 1;
    &:after {
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}
